.container {
  width: 90%;
  margin: 0 auto;
}

.header {
  margin: 2rem 0;
  font-size: 1.5rem;
  font-family: 'Poppins';
  color: black;
}

.header-brand {
  font-weight: bold;
}

.main {
  min-height: 70vh;
}

.footer {
  font-family: 'Montserrat';
  font-weight: 600;
  color: var(--gray);
  text-align: center;
  margin: 1.75rem;
}

.not-found {
  font-family: 'Space Mono';
  min-height: 70vh;
  display: flex;
}

@media (max-width: 768px) {
  .not-found {
    flex-direction: column;
  }
}

.not-found h2 {
  font-weight: bold;
  font-size: 4rem;
  color: var(--black);
}

.not-found p {
  font-size: 1.5rem;
}

.back-button {
  background-color: var(--black);
  color: white;
  padding: 1.5rem 3rem;
  text-transform: uppercase;
}
