.search-box {
  width: 100%;
  border-radius: 8px;
  height: 138px;
  margin-bottom: 3rem;
  background-image: url("/assets/backgroundImg.png");
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-box-input {
  position: relative;
  width: 50%;
}

@media (max-width: 768px) {
  .search-box-input {
    width: 90%;
  }
}

.search-box-input button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #1e86ff;
  border: none;
  border-radius: 4px;
  color: white;
  font-family: "Roboto";
  font-size: 1rem;
  padding: 0.8rem 3rem;
  margin: 0.2rem;
}

.search-box-input input[type="text"],
.location-input input[type="text"] {
  width: 100%;
  padding: 1rem;
  padding-left: 3rem;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

.search-box-input::placeholder,
.location-input::placeholder {
  color: var(--gray);
}

.search-box-input svg,
.location-input svg {
  position: absolute;
  top: 0;
  color: var(--gray);
  transform: translate(50%, 50%);
}

.checkbox {
  height: 1rem;
  width: 1rem;
  margin: 0.5rem;
}

.location-header {
  color: var(--gray);
  text-transform: uppercase;
  font-family: "Poppins";
}

.location-input {
  position: relative;
  width: 100%;
}
