@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

:root {
  --text: #334680;
  --gray: #b9bdcf;
  --black: #333333;
  --bg: #f6f7fb;
  --link: #1e86ff;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--bg);
  color: var(--text);
}

a {
  color: var(--link);
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: inherit;
  font-weight: normal;
}

.flex {
  display: flex;
}

.ml-1 {
  margin-left: 1rem;
}

.full-width {
  width: 100%;
}

.responsive {
  display: flex;
}

.search-widgets {
  min-width: 30%;
  margin-right: 1rem;
}

@media (max-width: 768px) {
  .responsive {
    flex-direction: column;
  }
  .search-widgets {
    margin-right: 0;
    width: 100%;
  }
}
